<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>myFirstEJS</title>
  </head>
  <body>
    <h1>I'm EJS First Test yeni</h1>
    Count : <%= count  %>
  </body>
</html>
